################################################################################ 
# This .gitignore file was automatically created by Microsoft(R) Visual Studio. 
################################################################################ 
/Media Bazaar/.vs/ 
Media Bazaar/.vs/ 
Media Bazaar/bin/ 
Media Bazaar/obj/